# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Secrets / signing
*.p12
*.mobileprovision
.env
*.pem
